body {
/*     padding: 0; */
/*     margin: 0; */
/*     overflow: hidden; */
/*     background-color: #000; */
/*     text-align: center; */
/*     font-family: 'Press Start 2P'; */
}

#canvas {
/*     width: 100%; */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: none;
}

.ontop
{
    position: relative;
    left: 0;
    top: -0px;
    color: #fff;
    text-align: left;
    font-size: 16px;
    white-space: pre;
}

.control {
    position: absolute;
    font-size: 60px;
/*     background-color: #f00; */
    color: #fff;
    z-index: 2200;
    cursor: pointer;
}

.sd {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: 900;
/*     background-image: url(../sprites-big.png); */
}
