@font-face {
    font-family:"Onesize Reverse";
    src:
        url("ONESR___.eot?") format("eot"),
        url("ONESR___.woff") format("woff"),
        url("ONESR___.ttf") format("truetype"),
        url("ONESR___.svg#OnesizeReverse") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Drescher Grotesk BT Bold";
    src:
        url("drescher-grotesk-bt-bold.ttf") format("truetype");
}

@font-face {
    font-family:"Drescher Grotesk BT Small Sizes";
    src:
        url("drescher-grotesk-bt-smallsizes.ttf") format("truetype");
}

@font-face {
    font-family:"Onesize";
    src:
        url("ONESIZE_.eot?") format("eot"),
        url("ONESIZE_.woff") format("woff"),
        url("ONESIZE_.ttf") format("truetype"),
        url("ONESIZE_.svg#Onesize") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "MisterSinatraRegular";
    src:
        url("MisterSinatra-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MisterSinatraSlim";
    src:
        url("MisterSinatra-Slim.ttf") format("truetype");
}

@font-face {
    font-family: "Minecraftia";
    src:
        url("Minecraftia-Regular.ttf") format("truetype");
}

body {
/*     padding: 0; */
/*     margin: 0; */
/*     overflow: hidden; */
/*     background-color: #000; */
/*     text-align: center; */
/*     font-family: 'Press Start 2P'; */
/*     cursor: none; */
}

#canvas {
/*     width: 100%; */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: none;
}

.ontop
{
    position: relative;
    left: 0;
    top: -0px;
    color: #fff;
    text-align: left;
    font-size: 16px;
    white-space: pre;
}

.control {
    position: absolute;
    font-size: 60px;
/*     background-color: #f00; */
    color: #fff;
    z-index: 2200;
    cursor: pointer;
}

.sd {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: 900;
/*     background-image: url(../sprites-big.png); */
}

.pixelfont {
/*     font-family: 'Onesize'; */
    font-family: "Drescher Grotesk BT Small Sizes";
    font-size: 32px;
/*     text-shadow: 0px 0px 0.1em rgba(255,255,255,0.8); */
}

#title_card {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
}

#title_card_text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.game_title {
    font-family: 'Drescher Grotesk BT Bold';
    font-size: 30px;
    color: #fff;
}

.game_subtitle {
    font-family: "Drescher Grotesk BT Small Sizes";
    font-size: 20px;
    color: #aaa;
    margin-top: 0.3em;
}
