body {
    margin: 8px;
    background-color: #222;
    background-image: url(../images/background.jpg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
/*     cursor: url(../cursor.png) 16 16, crosshair; */
    font-family: sans;
    font-size: 14px;
}

#big_pixels {
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url(../images/transparent.png) repeat;
    cursor: crosshair;
}

.hover {
    border: 1px solid #aaa!important;
}

.swatch {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #000;
    display: inline-block;
    margin: 0px;
}

.swatch-mini {
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.swatch.darkcolor {
    border: 1px solid #444;
    margin: 0px;
}

.swatch:hover {
    border: 1px solid #fff;
    margin: 0px;
}

.swatch.active {
    border: 2px solid #fff;
    border-radius: 5px;
    margin: -1px;
}

.swatch-mini.active {
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 0;
}

.swatch-disabled:hover {
    border: 1px solid #000;
}



#palette {
/*     background-color: #222; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px;
    border: 1px solid #666;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    border-radius: 12px;
    color: #fff;
}

.panel hr {
    border: 0;
    border-top: 1px solid #888;
    margin-top: 4px;
    margin-bottom: 8px;
}

.toolbutton {
    width: 32px;
    height: 32px;
    border: 1px solid #888;
    margin: 0px;
    border-radius: 2px;
    display: inline-block;
/*     background-color: #222!important; */
}

.toolbutton:hover {
    border: 1px solid #fff;
}

.toolbutton.active {
    border: 2px solid #fff;
    margin: -1px;
    background-color: #444!important;
    border-radius: 5px;
}

.toolbutton.active-pane {
    border: 2px solid #fff;
    margin: -1px;
    background-color: #444!important;
    border-radius: 5px;
}

.active-level {
    border: 1px solid #fff;
/*     margin: -1px; */
    background-color: #444!important;
    border-radius: 5px;
}

.sprite {
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid #444;
    padding: 1px;
    background: url(../images/transparent-1.png) repeat;
    border-radius: 2px;
}

.sprite:hover {
    border: 1px solid #888;
}

.sprite.active {
    border: 1px solid #fff;
}

.popup {
    position: absolute;
    left: 400px;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
}

.animation-start {
}

.animation-end {
}

::-webkit-scrollbar
{
    width: 3px;
}

::-webkit-scrollbar-track
{
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb
{
  background: rgba(255, 255, 255, 0.5);
}

#sprites {
    max-height: 590px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#sprites_composed {
    padding: 4px;
    border: 1px solid #888;
    border-radius: 4px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: default;
}

.level-number {
    margin-top: 6px;
    text-align: center;
    font-size: 80%;
}

.level-number.inactive {
    text-decoration: line-through;
    color: #888;
}

#pane-options {
    position: relative;
    top: -13px;
}

#pane-options div ,#level-options div {
    vertical-align: top;
    margin-right: 5px;
}


#pane-options, #level-options {
    font-size: 80%;
    line-height: 80%;
}

#pane-options label, #level-options label {
    position: relative;
    top: -3px;
}

#pane-options .heading, #level-options .heading {
    display: block;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgba(255,255,255, 0.1);
}

table {
    font-size: 12px;
    color: #fff;
}

table th {
    text-align: left;
}

input:focus {
    background-color: #fce94f;
}
